<div class="main">
  <div class="number-input">
    <div>
      <h1>Genny</h1>
      <h6>A random phone number generator</h6>
      <input type="text" [(ngModel)]="numbersValue">
      <button (click)="generateNumbers()"> GO</button>
      <span *ngIf="spanError">{{spanErrorText}}</span>
    </div>
  </div>
  <div class="number-view">
    <span class="numbers-count">{{phoneNumbers.length}}</span>
    <button *ngIf="phoneNumbers.length > 0" title="Reset" class="reset" (click)="clearNumbers()"><i class="fa fa-times"></i></button>
    <p class="nothing" *ngIf="phoneNumbers.length === 0">First let's try generating some numbers</p>
    <div class="numbers">
      <p *ngFor="let number of phoneNumbers">{{number}}</p>
    </div>
    <button *ngIf="phoneNumbers.length > 0" title="Download as PDF" class="download" (click)="downloadAsPDF()"><i class="fa fa-download"></i></button>
  </div>
</div>
